lib/javaee-endorsed-api-7.0/javax.xml.soap-api.jar
lib/javaee-endorsed-api-7.0/jaxb-api-osgi.jar
lib/javaee-endorsed-api-7.0/jaxws-api.jar
lib/javaee-endorsed-api-7.0/jsr181-api.jar
lib/nblibraries.properties
lib/javaee-endorsed-api-7.0/javaee-doc-api.jar
lib/javaee-endorsed-api-7.0/javax.annotation-api.jar
